.container{
    margin-top: 100px;
    margin-left: 550px; 
    border: 2px blue solid;
    width: 400px;
    padding-left: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
}

body{
    background-image: linear-gradient(green,lightblue,white, black);
}